# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../:\Users\Xiao\Desktop\尚硅谷Java文档技术文档\资料下载平台-教学课件\01-尚硅谷_JAVASE\Java基础课件、项目、源码等\Java基础课件、项目、源码等\04-代码\代码\第2部分：Java高级编程\第2部分：Java高级编程\JavaSenior\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
